*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:
  Inter,sans-serif;
  background:#fff;
  color:#111;
}

.navbar{
  position:sticky;
  top:0;
  z-index:100;
  background:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  box-shadow:
  0 2px 20px rgba(0,0,0,.08);
}

.logo{
  font-size:1.5rem;
  font-weight:700;
  color:#d60000;
}

.nav-links{
  display:flex;
  gap:25px;
}

.nav-links a{
  text-decoration:none;
  color:#111;
  font-weight:500;
}

.hero{
  min-height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:30px;
  background:
  linear-gradient(
  135deg,
  #fff,
  #fff5f5
  );
}

.hero h1{
  font-size:4rem;
  color:#d60000;
}

.hero p{
  margin-top:15px;
  max-width:700px;
  font-size:1.2rem;
}

.hero-buttons{
  margin-top:30px;
}

.hero button{
  padding:14px 30px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin:8px;
  background:#d60000;
  color:white;
}

.secondary{
  background:white !important;
  color:#d60000 !important;
  border:
  1px solid #d60000 !important;
}

.features{
  padding:80px 8%;
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.feature-card{
  text-align:center;
  padding:40px;
  border-radius:16px;
  background:#fafafa;
}

.feature-card svg{
  font-size:2rem;
  color:#d60000;
}

.products{
  padding:80px 8%;
}

.products h2{
  text-align:center;
  margin-bottom:40px;
}

.product-grid{
  display:grid;
  gap:25px;
  grid-template-columns:
  repeat(auto-fit,minmax(300px,1fr));
}

.product-card{
  border-radius:18px;
  overflow:hidden;
  box-shadow:
  0 5px 20px rgba(0,0,0,.08);
}

.product-card img{
  width:100%;
  height:350px;
  object-fit:cover;
}

.product-card h3{
  padding:20px;
}

.cta{
  padding:100px 8%;
  text-align:center;
  background:#d60000;
  color:white;
}

.cta a{
  display:inline-flex;
  gap:10px;
  margin-top:20px;
  background:white;
  color:#d60000;
  padding:15px 25px;
  border-radius:10px;
  text-decoration:none;
  font-weight:600;
}

.footer{
  text-align:center;
  padding:40px;
  background:#111;
  color:white;
}

.menu-btn{
  display:none;
}

@media(max-width:768px){

  .menu-btn{
    display:block;
    border:none;
    background:none;
    font-size:24px;
  }

  .nav-links{
    display:none;
  }

  .nav-links.active{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:70px;
    left:0;
    width:100%;
    background:white;
    padding:20px;
  }

  .hero h1{
    font-size:2.5rem;
  }
}